.card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.01);
  }
}

.image {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  height: 180px;
}

.info {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  flex-grow: 1;
  padding: 1rem;
}

.price {
  min-width: max-content;
  color: var(--color-text-primary);
  font-size: 18px;
}
