.page,
.sidebar,
.main,
.productsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.page {
  overflow: hidden;
  height: 100dvh;
  padding: 1rem;
}

.content {
  flex: 1;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  min-height: 0;
}

.sidebar {
  flex-shrink: 0;
}

.main {
  flex: 1;
  height: 100%;
  min-height: 0;
}

.toolbar {
  flex-shrink: 0;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: 24rem;
  height: 2.5rem;
}

.productsContainer {
  flex: 1;
  min-height: 0;
}

.products {
  flex: 1;
  min-height: 0;

  overflow-y: auto;
  overflow-x: hidden;
}

.mobileSorting {
  display: none;
}

@media (max-width: 480px) {
  .content {
    display: block;
  }

  .sidebar {
    display: none;
  }

  .toolbar {
    width: 100%;
  }

  .mobileSorting {
    display: block;
  }
}
