.search {
  position: relative;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.input {
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-border-hover);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem 0.5rem 40px;

  &::placeholder {
    color: var(--color-border-hover);
  }

  &:hover {
    border-color: var(--color-border-hover);
  }

  &:focus-visible {
    border: 1px solid white;
    outline: 2px solid var(--color-text-secondary);
  }
}

.icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  color: var(--color-border-hover);
}

.search:has(.input:focus-visible) .icon {
  color: var(--color-text-secondary);
}
